.container {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #F4F4F5;

  ul {
    margin-bottom: 6px;
    display: inline-block;

    li {
      font-size: 12px;
      line-height: 16px;
      display: inline;

      a {
        color: rgb(156 163 175/1);
        padding: 0 5px;
        cursor: pointer;

        &:hover {
          color: var(--main-color);
        }
      }
    }
  }
}