
.container {
  padding: 20px;
  text-align: center;

  ul {
    text-align: center;
    display: block;
    font-size: 12px;

    li {
      display: inline;

      span, a {
        color: rgb(156 163 175/1);
        display: inline-block;
        padding: 0 10px;
      }

      a {

        &:hover {
          color: var(--main-color);
        }
      }
    }
  }

  p {
    margin-top: 10px;
    font-size: 12px;
    color: rgb(156 163 175/1);

    &:hover {
      color: var(--main-color);
    }
  }
}